.hanoi-container {
  height: calc(100vh - 350px);
  overflow-y: scroll;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
}

.hanoi-visualizer {
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  box-sizing: border-box;;
}

.rod {
  width: 5px;
  height: 100%;
  background-color: #000;
  position: relative;
  padding: 3px;
}

.rod::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 10px;
  background-color: #000;
}

.disk {
  height: 20px;
  border-radius: 12px;
  background-color: #f39c12;
  text-align: center;
  margin: 2px 0;
  transition: all 0.3s ease;
}

.selected {
  border: 2px solid red;
}
